@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



#main {
  background-color: #AACED8;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;


  .secao {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2em;

  h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  P{
    font: 600 1.8rem 'Inter';
  }
  &--hero {
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    img{
        width: 100vh;
        border-radius: 10px;
      }

    .secao__texto {
      max-width: 30vw;
      background-color: #97C4D0;
      padding: 1rem;
      border-radius: 8px;

      h2{
        font: 600 2rem 'Inter';
        text-align: center;
      }
      p{
        font: 600 2rem 'Inter';
      }
    }
  }

  &__conteudo {
    max-width: 50vw;
    line-height: 1.6;
  }
}


#lista {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoria {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font: 600 2.3rem 'Inter';
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  li {
    max-width: 40vw;
    background-color: #cfe6ee;
    padding: 0.8rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;


    a{
      text-decoration: none;
      span {
      font-size: 1.3rem;
      color: #0058A1;
    }
    }
 
  }
  li:hover{
      font-size: 1.5rem;
      transition: font-size 0.5s ease;
    }
}

footer{
     display: flex;
     align-items: center;
    h2{
        font: 700 1.5vw 'Inter';
        color: #fff;
        text-decoration: none;
    }
    a{
        font: 700 1.5vw 'Inter';
        color: #fff;
        text-decoration: none;
    }
  }


  @media screen and (max-width: 768px) {

    .secao{
      align-items: center;
      justify-content: center;

     .secao__texto {
      max-width: 40vw;
      background-color: #97C4D0;
      padding: 1rem;
      border-radius: 8px;

      h2{
        font: 600 2rem 'Inter';
        text-align: center;
      }
      p{
        font: 600 2rem 'Inter';
      }
    }
      img{
      display: none;
     }
    }
   
 
    .categoria{
    
     li{
     max-width: 40vh;

      a{
        width: 20vw;
      }
    }
   
  }
  
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
      h2{
        font-size: 1.5rem;
    }
   }
  }

  @media screen and (max-width: 1400px) {
   .secao{
    align-items: center;
    justify-content: center;
    img{
      display: none;
    }
   }

    
  }
}