#card{
    padding-bottom: 33px;
    overflow: hidden;
    text-align: center;
    color: black;


 img{
    width: 20vw;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 105px;
 }

 img:hover{
   width: 22vw;
   transition: width 0.8s ease;
 }
 p{
    margin: 0;
    font: 600 1.5rem 'Inter';
    text-decoration: none 
 }

 @media screen and (max-width: 768px) {
      img{
         display: none;
      }
 }

}